@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-on-surface;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f3ff;
}

::-webkit-scrollbar-thumb {
  background: #bec8cb;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6f797c;
}
